{% extends 'base.html' %}
{% block content %}

    {% include 'partials/_navbar.html' %}
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Project Index Page
                <i class="fab fa-docker"></i> + <i class="fab fa-python"></i>
            </h1>
            <h5 class="lead">
            </h5>
            <hr class="my-2">
            <p class="">
                <a class="btn btn-primary btn-lg" href="{% url 'sensor_data' %}" role="button">Sensor Data</a>
            </p>
        </div>
    </div>

{% endblock content %}
